<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aavirbhava_AiShoppingAssistant::playground"
             title="AI Shopping Assistant"
             translate="title"
             module="Aavirbhava_AiShoppingAssistant"
             sortOrder="910"
             parent="Magento_Backend::marketing"
             resource="Aavirbhava_AiShoppingAssistant::playground"/>
        <add id="Aavirbhava_AiShoppingAssistant::playground_index"
             title="Playground"
             translate="title"
             module="Aavirbhava_AiShoppingAssistant"
             sortOrder="10"
             parent="Aavirbhava_AiShoppingAssistant::playground"
             action="aavirbhava_aishoppingassistant/playground/index"
             resource="Aavirbhava_AiShoppingAssistant::playground"/>
        <add id="Aavirbhava_AiShoppingAssistant::boost_index"
             title="Merchandising Boosts"
             translate="title"
             module="Aavirbhava_AiShoppingAssistant"
             sortOrder="20"
             parent="Aavirbhava_AiShoppingAssistant::playground"
             action="aavirbhava_aishoppingassistant/boost/index"
             resource="Aavirbhava_AiShoppingAssistant::boost"/>
        <add id="Aavirbhava_AiShoppingAssistant::attributeselection_index"
             title="Attribute Indexing Selection"
             translate="title"
             module="Aavirbhava_AiShoppingAssistant"
             sortOrder="30"
             parent="Aavirbhava_AiShoppingAssistant::playground"
             action="aavirbhava_aishoppingassistant/attributeselection/index"
             resource="Aavirbhava_AiShoppingAssistant::attribute_selection"/>
        <add id="Aavirbhava_AiShoppingAssistant::providercost_index"
             title="Provider Cost Pricing"
             translate="title"
             module="Aavirbhava_AiShoppingAssistant"
             sortOrder="40"
             parent="Aavirbhava_AiShoppingAssistant::playground"
             action="aavirbhava_aishoppingassistant/providercost/index"
             resource="Aavirbhava_AiShoppingAssistant::provider_cost"/>
        <add id="Aavirbhava_AiShoppingAssistant::categoryboost_index"
             title="Category Boosts"
             translate="title"
             module="Aavirbhava_AiShoppingAssistant"
             sortOrder="25"
             parent="Aavirbhava_AiShoppingAssistant::playground"
             action="aavirbhava_aishoppingassistant/categoryboost/index"
             resource="Aavirbhava_AiShoppingAssistant::category_boost"/>
    </menu>
</config>
